<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json"/>
        <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json"/>
        <add key="orleans-prerelease" value="https://dotnet.myget.org/F/orleans-prerelease/api/v3/index.json" />
    </packageSources>
</configuration>