<!DOCTYPE html!>

<html>
    <head>
        <style>
            .g-signin-button {
                /* This is where you control how the button looks. Be creative! */
                display: inline-block;
                padding: 4px 8px;
                border-radius: 3px;
                background-color: #3c82f7;
                color: #fff;
                box-shadow: 0 3px 0 #0f69ff;
                cursor: pointer;
            }
        </style> 
    </head>
    <body>
        <main>
            <g-signin-button
                v-if="!user"
                :params="googleSignInParams"
                @success="onSignInSuccess"
                @error="onSignInError">
                Sign in with Google
            </g-signin-button>

            <div id="portfolio" v-if="user">
                <h2>Portfolio</h2>
                <table>
                    <tbody>
                        <tr v-for="p in positions">
                            <td>{{p.symbol}}</td>
                            <td>{{p.quantity}}</td>
                            <td>{{p.totalCostBasis}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="orders" v-if="user">
                <h2>Orders</h2>
                <table>
                    <tbody>
                        <tr v-for="o in orders">
                            <td>{{o.symbol}}</td>
                            <td>{{o.type}}</td>
                            <td>{{o.price}}</td>
                            <td><a href="#" v-on:click="cancelOrder(o)">Cancel</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="quotes" v-if="user">
                <h2>Quotes</h2>
                <form v-on:submit="getQuote" v-on:submit.prevent >
                    <label for="symbol">Symbol: </label>
                    <input id="symbol" v-model="quotes.symbol"/>
                    <button type="submit">Get</button>
                </form>
                <div>
                    <strong>{{quotes.quote.symbol}}:</strong>
                    Bid: {{quotes.quote.bid}}
                    Ask: {{quotes.quote.ask}}
                    Last: {{quotes.quote.last}}
                </div>
                <div>
                    Trade {{quotes.quote.symbol}} @ 
                    <input v-model="order.price" >
                    <button v-on:click="executeBuy">Buy</button>
                    <button v-on:click="executeSell">Sell</button>
                </div>
            </div>
        </main>

        <script src="https://unpkg.com/vue"></script>
        <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
        <script src="https://apis.google.com/js/api:client.js"></script>
        <script src="https://unpkg.com/vue-google-signin-button"></script>
        <script type="text/javascript">
            function bearerTokenIntercepter (request, next) {
                if (this.user) {
                    var token = this.user.getAuthResponse().id_token;
                    request.headers.set('Authorization', 'Bearer ' + token);
                }
                next();
            }
            Vue.http.interceptors.push(this.bearerTokenIntercepter);

            var app = new Vue({
                el: "main",
                data: {
                    user: null,
                    googleSignInParams: {
                        client_id: '548329189765-5jvrf6dbe5u2knudlgqi46pabk8rcdf0.apps.googleusercontent.com',
                        scope: "openid profile email"
                    },
                    positions: [],
                    orders: [],
                    quotes: {
                        symbol: null,
                        quote: {}
                    },
                    order: {
                        price: null
                    }
                },
                created: function() {
                    setInterval(this.refreshPositions, 5000);
                    setInterval(this.refreshOrders, 5000);
                },
                methods: {
                    onSignInSuccess: function (googleUser) {
                        console.log("signed in", googleUser);
                        this.user = googleUser;
                        window.user = googleUser;
                    },
                    onSignInError: function (error) {
                        // `error` contains any error occurred. 
                        console.log('OH NOES', error)
                    },
                    
                    refreshPositions: function () {
                        if (!this.user) {
                            return;
                        }
                        console.log("Refreshing positions");
                        this.$http.get('/api/positions').then(function(response) {
                            this.positions = response.body;
                        });
                    },
                    refreshOrders: function () {
                        if (!this.user) {
                            return;
                        }
                        console.log("Refreshing orders");
                        this.$http.get('/api/orders').then(function(response) {
                            this.orders = response.body;
                        });
                    },
                    getQuote: function() {
                        console.log("Getting quote for " + this.quotes.symbol);
                        this.$http.get(`/api/securities/${this.quotes.symbol}/quote`).then(function(response) {
                            this.quotes.quote = response.body;
                            this.order.symbol = this.quotes.quote.symbol;
                        });
                    },
                    executeBuy: function() {
                        this.order.type = "Buy";
                        this.executeOrder();
                    },
                    executeSell: function() {
                        this.order.type = "Sell";
                        this.executeOrder();
                    },
                    executeOrder: function() {
                        console.log("submitting order: ", this.order);
                        this.$http.post('/api/orders', this.order).then(function(response) {
                            this.order = {};
                            this.orders.push(response.body);
                        });
                    },
                    cancelOrder: function(order) {
                        this.$http.delete(`/api/orders/${order.id}`).then(function(response) {
                            var index = this.orders.indexOf(order);
                            if(index >= 0) {
                                this.orders.splice(index, 1);
                            }
                        });
                    }
                }
            });
        </script>
    </body>
</html>